<div id="featured-section" class="container-margin flex-container">
  <div id="featured-display" class="">

      

  </div>

  <div id="featured-browse" class="">

    <div class="featured-browse-option"></div>
    

  </div>

</div>

<div id="hottest-section-options" class="container-margin flex-container">
 
    <div class="hottest-icon-container-margin">The Empire</div>
    <div class="hottest-icon-container-margin">Dwarves</div>
    
  

</div>

<div id="hottest-section" class="container-margin flex-container">
 
     <div class="hottest-miniature-panel"></div>
     <div class="hottest-miniature-panel"></div>
     <div class="hottest-miniature-panel"></div>
     <div class="hottest-miniature-panel"></div>
     <div class="hottest-miniature-panel"></div>

</div>



