<!--Main Nav-->
<div id="nav" class="">

   <div class="nav-container-margin flex-container">
  
    <div>LOGO</div>
    
    <div class="top-nav-item-margin">
      
      <form class="flex-container" method="POST" action="">
        <input id="search" class="no-border no-background" type="text">
        <button class="no-border no-background"><i class="fas fa-search"></i></button>
      </form>

    </div>

    <div class="top-nav-item-margin">Item</div>
   
  </div>

</div>

<!--Bottom Nav-->
<div id="nav" class="">
  
    <div class="nav-container-margin">
     
      <!--Assigns nav list to nav var-->
      <span 
        *ngFor="let nav of nav_list" 
        (click)="onHover(nav)" 
        class="bottom-nav-item-margin">{{nav.name}}</span>
      
    </div>  

</div>

<!--Drop Down-->
<!--Display dropdown according to certain nav if selectedCategory is assigned-->
<div *ngIf="selectedCategory" id="drop-down">
        <i class="fas fa-times" (click)="onHover(none)" ></i>   
        <div class="flex-container">
          <div class="dropdown-item-container "> 
           
            Infantry   

          </div>
          <div class="dropdown-item-container"> 

              Missile

          </div>
          <div class="dropdown-item-container"> 

                  Cavalry

          </div>
          <div class="dropdown-item-container"> 

                          Hero
          
          </div>
          <div class="dropdown-item-container"> 

                 Monster
                  
           </div>
           <div class="dropdown-item-container"> 

                   Magic
           
          </div>

        </div>  
        <div class="center-text">SEE ALL</div>      
</div>