.nav-container-margin{padding: 20px 110px;}
#nav{background-color: #ccc;}
.bottom-nav-item-margin{margin-left: 31px; font-size: 12px;}
.top-nav-item-margin{margin-left: 37.5%; }
#search{ border-bottom: 1px solid black; width: 300px;}